body {
  background-color: #000;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.app {
  margin: 50px auto 0;
  width: 600px;
  text-align: center;
}

.board {
  border: 1px solid lime;
  height: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.board-row {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.cell {
  width: 100%;
  height: 100%;
}

.snake {
  background-color: red
}

.apple {
  background-color: lime !important;
}

.info-bar {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 20px;
}

.play-button {
  background-color: #40f5f2;
  border-radius: 6px;
  border-width: 0;
  font-size: 15px;
  height: 30px;
  width: 100px;
}

